
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473404471'); /* IE9*/
  src: url('iconfont.eot?t=1473404471#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473404471') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473404471') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473404471#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-up:before { content: "\e622"; }
.icon-down:before { content: "\e623"; }
.icon-search:before { content: "\e672"; }
.icon-item:before { content: "\e633"; }
.icon-home:before { content: "\e630"; }
.icon-user:before { content: "\e625"; }
.icon-right:before { content: "\e65b"; }
.icon-fitness-map-copy:before { content: "\e632"; }
.icon-saoyisao:before { content: "\e615"; }
.icon-map:before { content: "\e600"; }
.icon-starfull:before { content: "\f0042"; }
.icon-bell:before { content: "\e705"; }
.icon-shezhi:before { content: "\e60e"; }
.icon-file:before { content: "\e607"; }
.icon-left:before { content: "\e61f"; }
